<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jinzhu.cli.prescription.mapper.newl.DiagMedlistMapper">
      <!--插入诊断信息管理表,循环添加-->
    <insert id="insertDiagMedlist">
        INSERT INTO `clinic`.`newl_diag_medlist` (`advice_id`, `newdiag_id`)values
     <foreach item="ids" collection="adviceIds" separator="," open="(" close=")">
      #{ids},#{newdiagId}
     </foreach>
    </insert>
</mapper>